html {
}
body {
  font-family: Arial;
  width: 20em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1em 1em 1em;
  border: 1px solid black;
}
button {
  padding: .5em;
  border: .1em solid black;
  background-color: white;
  border-radius: .6em;
}
button:hover {
  background-color: hsla(30, 100%, 50%, 0.7);
}
h1, h3 {
  text-align: center;
}
header {
  margin: 1em 0 1em 0;
}
li {
  font-size: .8em;
  text-align: center;
  margin: .5em 0 .5em 0;
  padding: .5em 0 .5em 0;
  border: 1px solid black;
  overflow: auto;
}
textarea {
  font-size: 1em;
  padding: .5em 0 .5em .25em;
  height: 1.5em;
  width: 18.25em;
  float: left;
  margin-left: .75em;
}
.todo-list {
  text-align: center;
}
.todo-add {
  text-align: center;
  margin: 1em 0 0 0;
  height: 1.5em;
  padding: 1em;
  border: 1px solid black;
  overflow: auto;
}
#new-task-form {
  float: left;
}
#close-task-form {
  margin-left: .5em;
}
#complete-task{
  float: left;
  font-size: .8em;
  margin: .25em 0 0 .5em;
}
#complete {
  background-color: hsla(201, 100%, 56%, 1.0);
}
